# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs/
*.log

# Build files
dist/
build/

# IDE/editor files
.vscode/
.idea/
.DS_Store

# Database and sensitive files
dump.sql
*.pem

# Temporary files
*.tmp
*.swp

# Image and model files
test_image.jpg
eng.traineddata

# Miscellaneous
package-lock.json
